<section class="onibus" ng-init="list()">
    <ol class="breadcrumb">
        <li><a href="#/admin">Admin</a></li>
        <li class="active">Trajeto</li>
    </ol>

    <a href="#/admin/trajeto/create" class="btn btn-success" style="margin-bottom: 15px; font-size: 18px">Cadastrar trajeto</a>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Nome</th>
                <th>Bairro</th>
                <th>Trajeto</th>
                <th>Criado em</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="onibus in frota">
                <td>{{onibus.numero}}</td>
                <td>{{onibus.nome}}</td>
                <td>{{onibus.bairro}}</td>
                <th>{{onibus.temTrajeto}}</th>
                <td>{{onibus.created | date:'medium'}}</td>
                <td>
                    <a href="#/admin/onibus/edit/{{onibus._id}}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                    <button class="btn btn-danger btn-xs" ng-click="deleteOnibus(onibus._id)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>

</section>