<section class="onibus">
    <ol class="breadcrumb">
        <li><a href="#/admin/trajeto">Trajeto</a></li>
        <li class="active">Inserir trajeto</li>
    </ol>

   <div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="origin" class="col-sm-2 control-label">Onibus</label>
        <div class="col-sm-8">
          <select type="text" id="onibus" class="form-control text-input-stroke" ng-model="onibus" ng-options="o as (o.numero + ' - ' + o.nome) for o in listaOnibus">
                <option value="">---Selecione---</option> <!-- not selected / blank option -->
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="destination" class="col-sm-2 control-label">Sentido</label>
        <div class="col-sm-4">
          {{onibus.itinerario}}
          <select type="text" id="sentido" class="form-control text-input-stroke" ng-model="onibus.itinerario" ng-options="i as i.sentido for i in onibus.itinerarios">
                <option value="">---Selecione---</option> <!-- not selected / blank option -->
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="marcador" class="col-sm-2 control-label">Marcador</label>
        <div class="col-sm-4">
            <input type="radio" value="1" ng-model="marcador"> Origem <br>
            <input type="radio" value="2" ng-model="marcador"> Destino <br>
            <input type="radio" value="3" ng-model="marcador"> Waypoints <br>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
          <button class="btn btn-primary" ng-click="visualizar()">Visualizar</button>
          <!--<button class="btn btn-primary" ng-click="clearMap()">Limpar</button>-->
        </div>
      </div>
    </form>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
    </ui-gmap-google-map>
    <!--<div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>-->
  </div>
</div>

</section>
