<div class="well col-sm-offset-2 col-sm-8">

    <p style="text-align: justify; text-indent: 30px;">
        Buscamos ajudar na melhoria da qualidade do serviço de transporte público na cidade de <b>Petrópolis</b>. Mesmo que
        nossa parte seja ínfima, acreditamos que a contribuição de cada um é sempre de grande valor para a constante evolução
        e melhoria da sociedade.
        <br> Este projeto é de iniciativa voluntária e foi desenvolvido sem nenhum tipo de incentivo financeiro.
        <br>
        <br> Apenas tecnologias <i>open source</i> foram utilizadas no seu desenvolvimento, agradecemos a elas:
        <br>
        <ul>
            <li><a href="http://www.mongodb.com/" target="_blank">MongoDB</a> - Banco de dados NoSql</li>
            <li><a href="http://expressjs.com/" target="_blank">Express</a> - Framework web para Node.js</li>
            <li><a href="https://angularjs.org/" target="_blank">AngularJS</a> - Framework JavaScript client-side</li>
            <li><a href="https://nodejs.org/" target="_blank">Node.js</a> - Interpretador JavaScript server-side</li>
        </ul>
    </p>
    <br>
    <div>
        <center><img style="width: 100%" class="img-rounded" src="/img/mean.jpeg" alt="mean"></img>
        </center>
    </div>
</div>